<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>My Lipstick Inventory</h1>
    <!-- <p>Resize this responsive page to see the effect!</p>  -->
  </div>
    <!-- <h1 class="text-center">My Lipsticks Inventory</h1> -->
    <!-- <a href='/lipsticks/new'>New Lipstick</a> -->
    {% for lipstick in lipsticks %}
        
        <!-- <h2>{{ lipstick.brand}}</h2> -->
        <!-- <small>{{lipstick.brand}} </small> -->
        <a href='/lipsticks/{{ lipstick._id }}'>
            <small><img src = "{{ lipstick.image }}" height="150" width="150"></small>
            
        </a>
    {% endfor %}
    
{% endblock %}

