{% extends 'base.html' %}
{% block content %}
<!-- <a href='/'>Back to Home</a> -->
<h3>Type: {{ lipstick.type }}</h3>
<h3>Color: {{ lipstick.color }}</h3>
<h3>Brand: {{ lipstick.brand }}</h3>
<h3>Cost: ${{ lipstick.price }}</h3>
<h3>Amount: {{ lipstick.amount }}</h3>
<img src = "{{ lipstick.image }}" height="150" width="150">
<a href='/lipsticks/{{ lipstick._id }}/edit'>Update </a>

<!-- Delete button -->
<p><form method='POST' action='/lipsticks/{{ lipstick._id }}/delete'>
    <button type='submit'>Delete</button>
</form></p>

{% endblock %}